---
import PostCard from "./PostCard.astro";

const { posts } = Astro.props;
---

<div class="posts-wrapper">
  {
    posts.map((post) => (
      <PostCard
        imageUrl={post.urlToImage}
        title={post.title}
        description={post.description}
        author={post.author}
        publishedAt={post.publishedAt}
        url={post.url}
      />
    ))
  }
</div>

<style>
  .posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Aliniază postările pe centrul containerului */
    padding: 1rem;
  }

  @media (max-width: 768px) {
    .posts-wrapper {
      gap: 0.5rem; /* Diminuarea spațiului dintre postări pentru ecrane mici */
    }
  }
</style>
